{# app/Resources/TeknooEastWebsiteBundle/views/AdminMedia/new.html.twig #}

{% extends '@TeknooEastWebsite/Admin/form.html.twig' %}

{% block formTitle 'New media' %}

{% block crudFormFields %}
    {{ form_errors(formView) }}
    <div class="form-group row">
        {{ form_row(formView.name, {"largeRow": true}) }}
    </div>
    <div class="form-group row">
        {{ form_row(formView.alternative, {"largeRow": true}) }}
    </div>
    <div class="form-group row">
        {{ form_row(formView.image, {"largeRow": true}) }}
    </div>
{% endblock %}

{% block menuMediaClass ' active' %}
